.scrollbar, scrollbar {
  display: block;
  background: transparent;
  pointer-events: none; /* don't let the invisible bar override focus events on content */
  position: absolute;
  z-index: 1;
}

.scrollbar[vertical], 
 scrollbar[vertical] { /* take up height of its container with preset width */
    right: 0;
    top: 0;
    height: 100%;
    width: 11px;
}

.scrollbar[horizontal], 
 scrollbar[horizontal] { /* take up width of its container with preset height */
    width: 100%; 
    height: 11px; 
    left: 0; 
    bottom: 0;
} 


.scrollbar[horizontal][vertical], 
 scrollbar[horizontal][vertical] { border: 1px red solid;} /* highlight invalid scrollbars */


.scrollbar[vertical] [thumb], 
 scrollbar[vertical] [thumb] { /* thumb that occupies 15% of available scrollbar space in its given axis */
    position: absolute;
    top: 0;
    right: 0;
    display:inline-block;
    height: 15%;
    width: 100%;
    background: transparent;
    cursor: pointer;
    border-radius: 5px;
    pointer-events: initial;
    z-index: 1;
}

.scrollbar[vertical] [thumb]::before, 
 scrollbar[vertical] [thumb]::before {
    content: '';
    height: 100%;
    right: 0;
    top: 0;
    width: 1px;
    position: absolute;
    border-radius: inherit;
    background: linear-gradient(#778, #556, #778);
    display: inline-block;
    z-index: 2;
    transition: width 0.15s linear;
}

.scrollbar[vertical] [thumb].active::before, 
 scrollbar[vertical] [thumb].active::before {
    content: '';
    border-radius: inherit;
    width: 100%;
    background: linear-gradient(45deg, #889,#556, #889);
    transition: width 0.15s linear;
    will-change: width, background;
    box-shadow: 0 0 1px 1px #000;
    z-index: 3;
}


.scrollbar[horizontal] [thumb], 
    .scrollbar[data-horizontal] [data-thumb], 
        scrollbar[horizontal] [thumb], 
            scrollbar[data-horizontal] [data-thumb] 
{
    position: relative;
    display: flex;
    width: 15%;
    height: 11px; 
    bottom: unset;
    background: transparent;
    cursor: pointer;
    transition: height 0.15s linear;
    will-change: height, background-color;
    border-radius: 5px;
    z-index: 100;
    pointer-events: initial; /* override container pointer-event: none */
}

.scrollbar[horizontal] [thumb]::before, 
 scrollbar[horizontal] [thumb]::before {
    content: '';
    width: 100%;
    position: absolute;
    border-radius: inherit;
    height: 1px;
    background: linear-gradient(45deg,#778, #556, #778);
    left: 0;  
    top: 2px;
    display: inline-block;
    transition: height 0.15s linear;
    box-shadow: 0 0 1px 1px #000;
    will-change: height, background-color;
}

.scrollbar[horizontal] [thumb].active::before, scrollbar[horizontal] [thumb].active::before {
  height: 100%;
  height: calc(100% - 1px);
  background-color: linear-gradient(45deg, #889,#556, #889);
}
